body {
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", verdana, sans-serif;
  background-image: url("https://cdn.glitch.global/89e6cfdf-775c-47cf-a856-87ee59789939/balls.jpg?v=1709440364103");
}
.nav-bar {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 70px;
}

.buttons button {
  padding: 10px;
  border-radius: 2rem;
  background: #ADD8E6;
  width: 50vw;
  border-color: #002647;
  font-size: 42px;
  transition: background-color 0.5s ease-in;
}


.buttons button:hover {
  background-color: #ffffff;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.parent {
 display: flex;
 flex-direction: column;
 align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bare  { 
  display: flex; /* Adjust as needed */
  align-items: center;
  background-color: white; 
  padding: 10px; /* Add padding for better appearance */
}

.sv {
  text-align: center;
  font-size: 30px;
  padding-left: 25%;
}

.inview,
.input {
  background: none;
  border: none;
  cursor: pointer; /* Corrected typo in cursor property */
  font-size: 20px;
  text-decoration: none;
  color: #008080;
  transition: 0.5s ease;
}
.inview {
  margin-left: 800px;
  margin-right: 50px;/* Adjust margin as needed */
}

.input {
  margin-right: 10px; /* Adjust margin as needed */
}

.inview:hover,
.input:hover {
  text-decoration: none;
  color: #006400;
}



.sl {
  width: 50vw;

}

.output,
.star,
.en,
.con,
.ven,
.brand{
  display:flex;
  justify-content: row;
  margin: 10px;
  margin-left: 125px;
  padding-top: 5%; /* Adjust margin as needed */
  padding-left: 25%;
}
.star label,
.en label,
.con label,
.ven label,
.brand label { /* Ensure labels are displayed correctly */
  margin-bottom: 5px;
  padding-top: 16%;/* Add space between label and input */
}
